.mainpage {
  

  button {
   
    font-size: 18px;
    border-radius: 10px;
    color: #fff;
    // background-color:  rgb(0, 136, 255);
    border: none;
    cursor: pointer;
    padding: 15px 30px;
  }

  .anten {
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .inputitems{
    margin-top: 50px;
    form {
      display: flex;
      flex-direction: column;
      gap: 3px;
      label {
        font-size: 16px;
        color: red;
        font-weight: bold;
      }
  
      input {
        margin: 5px 0;
        padding: 8px 10px;
        border-radius: 10px;
        border: 1px solid black;
      }
    }
  }
}
